// External libraries
@import "bootstrap";
@import "font-awesome";
@import "font-awesome-sprockets";

// Your CSS
@import "agency";
@import "welcome";
@import "customers";
@import "customer_index";
@import "card_product";
@import "sign";
@import "paddings";
@import "margins";

.flashy {
  position: absolute;
  top: 10%;
  left: 40%;
  right: 40%;

}


