.site-container {
  padding-top: 49px;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.map-container {
  height: 100%;
  flex: 1 1 0%;
  @media (max-width: 700px) {
    flex: 0 0 100%
  }
}

.sidebar {
  height: 100%;
  flex: 1.5 1 0%;
  display: flex;
  flex-wrap: wrap;
  background: rgb(240, 240, 240);
  overflow: scroll;
  @media (max-width: 700px) {
    flex: 0 0 100%
  }
}
