.devisebg {
  background-image: url("loginpicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.changesbackground {
  background-image: url("Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundgrey {
  background-image: url("grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
