.devisebg {
  background-image: image-url("loginpicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.changesbackground {
  background-image: image-url("Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.backgroundwhite {
  background-image: image-url("white.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
