.devisebg {
  background-image: image-url("loginpicture.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.changesbackground {
  background-image: image-url("Background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
}

.backgroundgrey {
  background-image: image-url("grey.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.backgroundblack {
  background-color: black;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}


